body {
  font-family: Courier;
  padding:0px;
  margin: 0px;
  background-color: whitesmoke;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

header {
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  font-weight: bold;

}


#main-container {
  padding: 10px;
  margin: 0 auto;
  width: 700px;
  position: relative;
  height: 100%;
}


li {
  list-style: none;
}

li:hover {
  list-style-type: disc;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: tomato;
}

a:hover {
  color: #cc483c;
  text-decoration: none;
}

.project-view {
  margin-top: 50px;
}
.project-view table {
  text-align: left;
  font-size: 14px;
  width: 600px;
}

.project-view .title-desc {
  padding-bottom: 5px;
  padding-top: 5px;
}



.project-view th {
  padding-bottom: 10px;
  font-size: 16px;
}

.project-view td.project-image {
  width: 300px;
  height: 200px;
  background-color: gray

}

.project-desc {
  padding-left: 20px;
  vertical-align: top;
  position: relative;
}

td.project-image img {
  width: 300px;
  height: 200px;
}

.project-links {
  margin-top: 20px;

}

.project-links a {
  width: 100px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
