body {
  font-family: 'Droid Sans', sans-serif;
  padding:0px;
  margin: 0px;
  background-color: white;
  /*background-image:
    radial-gradient(
    circle at bottom right,
    gainsboro,
    whitesmoke
  );*/
}


header {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  padding: 5px;
  color: #e06666;
  font-size: 48px;
}

header .left {
  float: left;
  padding-bottom: 15px;
  position:absolute;
}

header .right {
  float: right;
  font-size: 30px;
  margin-right: 26px;
}

nav li {
  float: left;
  margin-left: 30px;
  cursor: pointer;
}

nav li i {
  color: rgba(227, 104, 104, 0.3);
  transition: 0.5s;
}

nav li i.active {
  color: #e06666;
}

.main-container {
  padding: 10px;
  margin: 0 auto;
  width: 830px;
  position: relative;
  height: 500px;
}

.content {
  margin-top: 57px;
  background: #e06666;
  height: 500px;
  width: 100%;
  position: relative;
}

.content .inner {
  background: white;
  width: 804px;
  height: 494px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.selector-container {
  position: relative;
  top: -18px;
  left: 569px;
  height:20px;
}
.selector {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e06666;
  margin-right: 18px;
  transition: 0.5s;
  position: absolute;
  top: 20px;
}

.selector.active {
  top: 0px;
}

.selector.work {
  left: 57px;
}

.selector.contact {
  left: 116px;
}

.selector.github {
  left: 175px;
}




footer {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
