nav {
  text-align: center;

  ul {
    list-style: none;
    width: 100%;
    display: flex;

    li {
      margin: 0;
      flex: 1;
    }
  }
}

.navlink-active {
  color: $darkLiver;

  &::before {
    position: absolute;
    left: -1em;
    content: ">"
  }
}


// Desktop
@media (min-width: 64em) {
  nav {
    * { text-align: right; }

    ul {
      display: block;
    }
  }
}
